.hero-background-top {
    background-position: 0 -8rem;
}

.hero-background-bottom {
    background-position: 0 -8rem;
}

.hero-background {
    background-image: url("../img/hero-section-background.jpg");
    // height: auto;
    // background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section {
    background-color: $midGreen;
    padding-top: 22rem;
    height: 50vw;
    
    h1, p {
        text-align: left;
    }

    h1 {
        font-size: 4.4vw;
        position: relative;
        font-weight: 700;
    }

    p {
        font-size: 1.8vw;
        margin-top: 2rem;
        font-weight: 400;
    }
}

#hero-copy {
    padding: 10rem 0;

    width: 30vw;
}

