#navbar {
    display: flex;
    flex-direction: row;
    // position: fixed;
    justify-content: space-between;
    // padding-top: 6rem;
    height: 12rem;
    z-index: 10;
}

#logo {
    display: flex;
    flex-direction: row;

    p {
        font-family: $logoFont;
        text-align: left;
        font-size: 3.4rem;
        color: $offWhite;
    }

    img {
        height: 4rem;
    }
}

nav a {
    font-size: 2rem;
    font-family: $paragraphFont;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-left: 4rem;
    color: $offWhite;
}

#nav-links {
    margin: auto 0;
}
